body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange {
    color: orange;
}



.flexible-conteint {
    display: flex;
    margin-bottom: 150px;
}

.new-web {
    width: 50%;
    padding-left: 5%;


}

.new-web img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    background-color: greenyellow;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 20px;
}

h2 {
    font-size: 40px;
}

.link-button:hover {
    background-color: rgb(239, 139, 9);
    transition: 2s;
}

.top-benar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dreem-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#web-dev-ex {

    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;


}

.experienc-item {
    border-radius: 10px;

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid red;
}

.exp-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer {
    text-align: center;

}

p {
    font-family: cursive;
}

.fhover {
    color: rgb(29, 128, 215);
}

.fhover:hover {
    background-color: rgb(219, 219, 19);
    transition: 2s;
    width: 70%;
}

.bhover {
    color: lightblue;
}

.bhover:hover {
    background-color: hotpink;
    transition: 2s;
    width: 75%;
}

#ex {
    margin-left: 80px;
}